body {
    padding-inline: 2rem;
}

.form-block {
    display: block;
    margin: 5px 0;
}

.user-list-item blockquote {
    color: #999;
    padding: 0 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}